html {
    height: 100%;
}


.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app__content {
    flex: 1;
    background-color: violet;
}

.app__header {
    padding: 20px;
    background-color: red;
}

.app__footer {
    padding: 20px;
    background-color: green;
}
